.app {
  text-align: center;
}



input {
  padding: 5px;
  margin-right: 8px;
  border-radius: 20px;
  width: 400px;
  height: 25px;
}
.add{
  border-radius: 15px;
  width: 60px;
  height: 35px;
  background-color: rgba(158, 6, 21, 0.123);
}



ul {
  
  list-style: none;
}

li {
  margin: 12px 0;
  height: 20px;
}

.delete-button {
  font-size: 13px;
  margin-left: 15px;

  border: none;
  color: black;
  border-radius: 4px;
  background-color: red;

  padding-top: 5px;
  padding-bottom: 5px;
}